@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: var(--primary-font-family);
  font-size: 12px;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1366px) {
  .container {
    max-width: 1680px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.container__pr {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 480px) {
  .container__pr {
    width: 480px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container__pr {
    width: 768px;
    max-width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1300px) {
  .container__pr {
    width: 100%;
    max-width: 1300px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media screen and (min-width: 1680px) {
  .container__pr {
    width: 100%;
    max-width: 1680px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.our-program {
  background: #111518;
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .our-program {
    padding-top: 80px;
  }
}

h2,
._h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding-bottom: 40px;
}

@media screen and (min-width: 768px) {
  h2,
  ._h2 {
    font-weight: 800;
    font-size: 46px;
    text-align: left;
    padding-bottom: 80px;
  }
}

.timeline-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: calc(25%);
}

@media screen and (min-width: 480px) {
  .timeline-block {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) {
  .timeline-block {
    margin-left: calc(25%);
  }
}

@media screen and (min-width: 1300px) {
  .timeline-block {
    border-top: 1px solid #FFFFFF;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.timeline {
  position: relative;
}

.timeline li {
  list-style: none;
}

.timeline::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 1px;
  background-color: #FFFFFF;
  left: -27px;
  top: 8px;
}

@media screen and (min-width: 768px) {
  .timeline {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .timeline::before {
    left: -112px;
  }
}

@media screen and (min-width: 1300px) {
  .timeline {
    padding-top: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .timeline::before {
    content: unset;
  }
}

@media screen and (min-width: 1680px) {
  .timeline {
    padding-left: 140px;
    padding-right: 140px;
  }
}

.timeline__block {
  margin-bottom: 40px;
}

.timeline__block::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background: #FF6B09;
  border-radius: 50%;
  left: -35px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .timeline__block::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #FF6B09;
    border-radius: 50%;
    left: -119px;
    margin-top: 8px;
  }
}

@media screen and (min-width: 1300px) {
  .timeline__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 5 - 160px / 5);
            flex: 0 0 calc(100% / 5 - 160px / 5);
    position: relative;
  }
  .timeline__block::before {
    margin-top: 0;
    left: 0;
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #FF6B09;
    border-radius: 50%;
    top: -56px;
  }
}

.semester__number {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
  text-transform: uppercase;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .semester__number {
    font-size: 14px;
  }
}

@media screen and (min-width: 1300px) {
  .semester__number {
    font-size: 30px;
    line-height: 28px;
    text-transform: none;
  }
}

@media screen and (min-width: 768px) {
  .semester__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 1300px) {
  .semester__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.semester__item {
  margin-bottom: 4px;
}

@media screen and (min-width: 768px) {
  .semester__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% / 3 - 80px / 3);
            flex: 0 0 calc(100% / 3 - 80px / 3);
    margin-bottom: 40px;
    margin-right: 40px;
  }
}

@media screen and (min-width: 1300px) {
  .semester__item {
    margin-top: 24px;
    margin-bottom: 0;
  }
}

.semester__title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 164.9%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.08em;
  color: #FF6B09;
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .semester__title {
    font-size: 12px;
  }
}

@media screen and (min-width: 1300px) {
  .semester__title {
    font-size: 20px;
  }
}

.semester__description {
  margin-top: 4px;
}

@media screen and (min-width: 768px) {
  .semester__description {
    margin-top: 8px;
  }
}

.semester__description li {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.08em;
  color: #B9B9B9;
  opacity: 0.5;
  font-size: 12px;
  line-height: 20px;
}

@media screen and (min-width: 1300px) {
  .semester__description li {
    font-size: 16px;
    line-height: 28px;
  }
}

.program-image__block {
  position: relative;
  z-index: 1;
}

.program-image__block .program-image {
  opacity: 0.5;
  position: relative;
  top: -100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1300px) {
  .program-image__block .program-image {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    top: -250px;
  }
}

.benefits-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 136%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding-bottom: 32px;
  max-width: 180px;
}

@media screen and (min-width: 480px) {
  .benefits-title {
    text-align: center;
    max-width: 100%;
    font-size: 26px;
    line-height: 130%;
    padding-bottom: 40px;
  }
}

.benefits-block {
  background: #FFFFFF;
  -webkit-box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
          box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  padding: 60px 20px 20px;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .benefits-block {
    padding: 71px 32px 40px 92px;
  }
}

@media screen and (min-width: 1300px) {
  .benefits-block {
    padding: 101px 32px 60px 140px;
    margin-top: -330px;
  }
}

.benefits-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 60px;
  counter-reset: section;
}

@media screen and (min-width: 768px) {
  .benefits-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
  }
}

@media screen and (min-width: 1300px) {
  .benefits-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 81px;
  }
}

.benefits-list li {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #111518;
  position: relative;
}

@media screen and (min-width: 1300px) {
  .benefits-list li {
    font-size: 20px;
    line-height: 24px;
  }
}

.benefits-list li::before {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 164.9%;
  letter-spacing: 0.08em;
  color: #FF6B09;
  position: absolute;
  counter-increment: section;
  content: "— " counter(section) " ";
  top: -30px;
  color: #FF6B09;
}

@media screen and (min-width: 768px) {
  .benefits-list li::before {
    font-size: 14px;
    line-height: 20px;
    top: -28px;
  }
}

@media screen and (min-width: 1300px) {
  .benefits-list li::before {
    font-size: 20px;
    line-height: 24px;
    top: -41px;
  }
}
/*# sourceMappingURL=main.css.map */