:root {
    --primary-text-color: #B9B9B9;
    --accent-color: #FF6B09;
    --add-textcolor: #111518;
    --primary-font-family: Montserrat, sans-serif ;
    --primary-font-size: 14px;
    --margin-bottom: 20px;
    // змінні margins and paddings додам пізніше
    --timing-fun: cubic-bezier(0.4, 0, 0.2, 1);
  }