<section class="about">
  <div class="container">
    <h2 class="section-title">Teacher</h2>
    <picture>
      <source srcset="./images/teacher-photo.jpg 1x" media="(min-width:1366px)" />
      <source srcset="./images/teacher-photo-tab.jpg 1x" media="(min-width:768px)" />
      <source srcset="./images/teacher-photo-mob.jpg 1x" media="(max-width:767px)" />
      <img class="about__img" src="./images/teacher-photo.jpg" alt="Elena Moreva" />
    </picture>
    <h3 class="about__name">Elena Moreva</h3>
    <ul class="attainment list">
      <li class="attainment__item">
        <p class="attainment__text">6 yeards of experience in preparing students for UPE</p>
      </li>
      <li class="attainment__item">
        <p class="attainment__text">Own result of passing VNO - 197 points 2 years in a row</p>
      </li>
      <li class="attainment__item">
        <p class="attainment__text">
          Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English
          Test)
        </p>
      </li>
    </ul>
    <p class="about__description">
      Graduated from the Institute of International Relations of the NAU with a degree in
      translator-analyst. In spare time takes courses from the best universities in the world on
      effective teaching and essay writing techniques.Completed: English Grammar and Essay Writing
      (Berkeley), English Grammar & Style (The University of Queesland), How to Write an Essay
      (Berkeley), Academic and Business Writing (Berkeley), The Art of Teaching (GEMS education),
      Powerful Tools for Teaching and Learning (University of Houston).
    </p>
    <a class="about__certificate" href="">Cambrige English Entry Level Certificate</a>
  </div>
</section>
