<section class="about">
  <div class="container">
    <h2 class="section-title section-title_thema-light">Teacher</h2>
    <div class="about__wrapper">
      <picture class="about__images">
        <source srcset="./images/teacher-photo.jpg" media="(min-width:1680px)" />
        <source srcset="./images/teacher-photo-tab.jpg" media="(min-width:768px)" />
        <source srcset="./images/teacher-photo-mob.jpg" media="(max-width:767px)" />
        <img class="about__img" src="./images/teacher-photo.jpg" alt="Elena Moreva" />
      </picture>
      <div class="about__wrapper-text">
        <h3 class="about__name">Elena Moreva</h3>
        <ul class="attainment list">
          <li class="attainment__item">
            <p class="attainment__text">6 yeards of experience in preparing students for UPE</p>
          </li>
          <li class="attainment__item">
            <p class="attainment__text">Own result of passing VNO - 197 points 2 years in a row</p>
          </li>
          <li class="attainment__item">
            <p class="attainment__text">
              Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary
              English Test)
            </p>
          </li>
        </ul>
        <div class="wrapper-description">
          <p class="about__description">
            Graduated from the Institute of International Relations of the NAU with a degree in
            translator-analyst.
          </p>
          <p class="about__description">
            In spare time takes courses from the best universities in the world on effective
            teaching and essay writing techniques.
          </p>
          <p class="about__description">
            Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The
            University of Queesland), How to Write an Essay (Berkeley), Academic and Business
            Writing (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching
            and Learning (University of Houston).
          </p>
        </div>
        <a class="about__certificate" href="">Cambrige English Entry Level Certificate</a>
      </div>
    </div>
  </div>
</section>