<section class="advantages-section ">
    <div class="container">
        <h2 class="visually-hidden">Advantages</h2>

        <ul class="advantages-section__list list">

            <li class="advantages-section__item svg-element--first">
                <p class="advantages-section__description">Adapted author's
                    UPE program</p>
            </li>

            <li class="advantages-section__item svg-element--second">
                <p class="advantages-section__description"> Modern
                    teaching methods</p>
            </li>

            <li class="advantages-section__item svg-element--tree">
                <p class="advantages-section__description"> Financial guarantee
                    the result</p>
            </li>

        </ul>
    </div>

</section>