<section class="benefits">
  <div class="container container-benefits">
    <h2 class="benefits-title section-title section-title_thema-dark">Why do people choose us</h2>
    <div class="benefits-wrap">
      <ol class="list card-set">
        <li class="list-benefits-item item">
          <p class="benefits-description">Training in small groups</p>
        </li>
        <li class="list-benefits-item item">
          <p class="benefits-description">Rendered notes</p>
        </li>
        <li class="list-benefits-item item">
          <p class="benefits-description">Each lesson has a goal and a specific result</p>
        </li>
        <li class="list-benefits-item item">
          <p class="benefits-description">The real results of the teacher</p>
        </li>
        <li class="list-benefits-item item">
          <p class="benefits-description">
            The course program meets the requirements of the MES of Ukraine
          </p>
        </li>
        <li class="list-benefits-item item">
          <p class="benefits-description">Set of groups by level of knowledge</p>
        </li>
      </ol>
    </div>
  </div>
</section>