<section class="contacts container">
    <h2 class="contacts-title">
        Registration for a <span class="contacts-title__accent-color">free</span> phone <span class="contacts-title__accent-color">consultation</span> on the nuances of English UPE
    </h2>
    <p class="contacts__text">
        Leave a request for participation in a <span class="contacts-title__accent-color">free lesson</span>.<br>
A consultant will contact you and answer your questions
    </p>
    <form class="contacts__form">
        <label class="contacts__label">
            <span>
                <input name="user_name"  class="contacts__input" type="text" placeholder="Name*">
            </span>
        </label>
        <label class="contacts__label">
            <span>
                <input name="user_phone" class="contacts__input" type="text" placeholder="Phone*">
            </span>
        </label>
        <button type="submit" class="">
            i want a free lesson
        </button>
    </form>
</section>