<footer class="footer">
    <div class="container">
        <div class="logo">
            <a class="logo__text link" href="/">Hell<svg class="" width="22" height="30">
                    <use href="./images/icons.svg#icon-fire"></use>
                </svg>en
                <span class="logo-text__part">Hellish</span> English
            </a>
        </div>
        <a class="phone link" href="tel:+380000000000">
            <svg class="phone-icon" width="30" height="29">
                <use href="./images/icons.svg#icon-phone"></use>
            </svg>+38 (000) 000 00 00</a>
        <a class="insta">
            <svg class="insta-icon" width="40" height="40">
                <use href="./images/icon-insta.svg"></use>
            </svg>
        </a>
    </div>
    <div class="container">@ All rights reserved, 2019</div>
</footer>