<footer class="footer">
    <div class="container">
        <div class="logo">
            <a class="logo__text link" href="/">Hell<svg class="" width="22" height="30">
                    <use href="./images/icons.svg#icon-fire"></use>
                </svg>en
                <span class="logo-text__part">Hellish</span> English
            </a>
        </div>
        <a class="phone link" href="tel:+380000000000">
            <svg class="phone-icon" width="30" height="29">
                <use href="./images/icons.svg#icon-phone"></use>
            </svg>+38 (000) 000 00 00</a>
        <a class="insta">
            <picture>
                <source srcset="./images/insta-icon-mob.webp 1x, ./images/insta-icon@2x.webp 2x" media=""
                    type="image/webp" />
                <source srcset="./images/insta-icon-mob.png 1x, ./images/insta-icon@2x.png 2x" media="" />
                <img src="./images/insta-icon-mob.png" alt="Разработка сайта" width="40" height="40">
            </picture>
        </a>
    </div>
    <div class="container">@ All rights reserved, 2019</div>
</footer>