<footer class="footer" id="contacts">
    <div class="container footer-container">
        <a href="/" class="logo link">
            <div class="logo__top-part">Hell<svg class="logo__fire-icon">
                    <use href="./images/icons.svg#icon-fire"></use>
                </svg>EN</div>
            <p class="logo__bottom-part"><span class="text-accent">Hellish</span> English</p>
        </a>
        <a href="/" class="phone link" href="tel:+380000000000">
            <svg class="phone-icon">
                <use href="./images/icons.svg#icon-phone"></use>
            </svg>+38 (000) 000 00 00</a>
        <a href="/" class="insta">
            <picture>
                <source srcset="./images/insta-icon-mob.webp 1x, ./images/insta-icon@2x.webp 2x" type="image/webp" />
                <source srcset="./images/insta-icon-mob.png 1x, ./images/insta-icon@2x.png 2x" type="image/png" />
                <img src="./images/insta-icon-mob.png" alt="instagram links" width="40" height="40">
            </picture>
        </a>
    </div>
    <div class="container rights">@ All rights reserved, 2019</div>
</footer>