<header class="header">
    <div class="">

        <div class="logo">
            <a class="logo__text link" href="/">Hell<svg class="" width="22" height="30">
                    <use href="./images/icons.svg#icon-fire"></use>
                </svg>en
                <span class="logo-text__part">Hellish</span> English
            </a>
        </div>

        <nav class="navigation">

            <ul class="nav__list">
                <li class="nav-list__item"> <a class="nav-list__link link" href="/">Studying program</a> </li>
                <li class="nav-list__item"> <a class="nav-list__link link" href="/">About</a> </li>
                <li class="nav-list__item"> <a class="nav-list__link link" href="/">Training options </a> </li>
                <li class="nav-list__item"> <a class="nav-list__link link" href="/">Contacts</a> </li>
            </ul>

            <a class="nav__contact link" href="/">Consultation by phone</a>

        </nav>

        <!-- <button type="button" class="" data-menu-open>
        <svg class="mobile-menu-btn__icon" width="21" height="12">
            <use href="./images/icons.svg#icon-menu"></use>
        </svg>
    </button> -->

        <!-- <div class="mobile-menu" data-menu>
        <div class="mobile-menu__container">
            

            <button type="button" class="" data-menu-close>
                <svg class="mobile-menu__close__icon" width="16" height="16">
                    <use href="./images/icons.svg#"></use>
                </svg>
            </button>

            <ul class="mobile-menu__list">
                <li class="mobile-menu__item"> <a class="mobile-menu__link link" href="/">Studying program</a> </li>
                <li class="mobile-menu__item"> <a class="mobile-menu__link link" href="/">About</a> </li>
                <li class="mobile-menu__item"> <a class="mobile-menu__link link" href="/">Training options </a> </li>
                <li class="mobile-menu__item"> <a class="mobile-menu__link link" href="/">Contacts</a> </li>
            </ul>

            <a class="nav__contact link" href="/">Consultation by phone</a>
        </div>
    </div> -->


    </div>

</header>