<header class="header">
    <div class="container">
        <div class="header__menu">

            <a href="./index.html" class="logo link">
                <div class="logo__top-part">Hell<svg class="logo__fire-icon">
                        <use href="./images/icons.svg#icon-fire"></use>
                    </svg>EN</div>
                <p class="logo__bottom-part"><span class="text-accent">Hellish</span> English</p>
            </a>


            <nav class="navigation">

                <ul class="nav__list list">
                    <li class="nav-list__item"> <a class="nav-list__link link" href="#program">Studying program</a> </li>
                    <li class="nav-list__item"> <a class="nav-list__link link" href="#about">About</a> </li>
                    <li class="nav-list__item"> <a class="nav-list__link link" href="#how-we-do">Training options </a> </li>
                    <li class="nav-list__item"> <a class="nav-list__link link" href="#contacts">Contacts</a> </li>
                </ul>

                <a class="nav__contact link" href="/">Consultation by phone</a>

            </nav>

            <button type="button" class="header-menu__button" data-menu-open>
                <svg class="mobile-menu-btn__icon" width="40" height="40">
                    <use href="./images/icons.svg#icon-menu"></use>
                </svg>
            </button>

        </div>
        <!-- Бургер меню -->
        <div class="mobile-menu" data-menu>
        <div class="container mobile-menu__container">

            <a href="./index.html" class="logo link mobile-menu__logo">
                <div class="logo__top-part">Hell<svg class="logo__fire-icon">
                        <use href="./images/icons.svg#icon-fire"></use>
                    </svg>EN</div>
                <p class="logo__bottom-part"><span class="text-accent">Hellish</span> English</p>
            </a>

            <button type="button" class="mobile-menu__close-btn" data-menu-close>
                <svg class="mobile-menu__close__icon" width="16" height="16">
                    <use href="./images/icons.svg#icon-cross"></use>
                </svg>
            </button>
        <div class="mobile-menu__content">
            <ul class="mobile-menu__list list">
                <li class="mobile-menu__item"> <a class="mobile-menu__link link" href="#program">Studying program</a> </li>
                <li class="mobile-menu__item"> <a class="mobile-menu__link link" href="#about">About</a> </li>
                <li class="mobile-menu__item"> <a class="mobile-menu__link link" href="#how-we-do">Training options </a> </li>
                <li class="mobile-menu__item"> <a class="mobile-menu__link link" href="#contacts">Contacts</a> </li>
            </ul>

            <a class="mobile-menu-nav__contact link" href="/">Consultation by phone</a>
        </div>
        </div>
        </div>  


    </div>

</header>