<header class="header">
<div class="">

    <nav class="navigation">

        <div class="logo">
            <a class="logo__text link" href="/">Hell<svg class="" width="22" height="30"><use href="./images/icons.svg#icon-fire"></use></svg>EN</a>
            <a class="logo-text__second link" href="/">
                <span class="logo-text__part">HELLISH</span> ENGLISH
            </a>
        </div>

        <ul class="nav__list">
            <li class="nav-list__item"> <a class="nav-list__link link" href="/">studying program</a> </li>
            <li class="nav-list__item"> <a class="nav-list__link link" href="/">about</a> </li>
            <li class="nav-list__item"> <a class="nav-list__link link" href="/">training options </a> </li>
            <li class="nav-list__item"> <a class="nav-list__link link" href="/">contacts</a> </li>
        </ul>

        <button type="button" class="">consultation by phone</button>

    </nav>

    <!-- <button type="button" class="" data-menu-open>
        <svg class="mobile-menu-btn__icon" width="21" height="12">
            <use href="./images/icons.svg#icon-menu"></use>
        </svg>
    </button> -->

    <!-- <div class="mobile-menu" data-menu>
        <div class="mobile-menu__container">
            <div class="logo">
                <a class="logo__text link" href="/">Hell<svg class="" width="22" height="30">
                        <use href="./images/icons.svg#icon-fire"></use>
                    </svg>EN</a>
                <a class="logo-text__second link" href="/">
                    <span class="logo-text__part">HELLISH</span> ENGLISH
                </a>
            </div>

            <button type="button" class="" data-menu-close>
                <svg class="mobile-menu__close__icon" width="16" height="16">
                    <use href="./images/icons.svg#"></use>
                </svg>
            </button>

            <ul class="mobile-menu__list">
                <li class="mobile-menu__item"> <a class="mobile-menu__link link" href="/">studying program</a> </li>
                <li class="mobile-menu__item"> <a class="mobile-menu__link link" href="/">about</a> </li>
                <li class="mobile-menu__item"> <a class="mobile-menu__link link" href="/">training options </a> </li>
                <li class="mobile-menu__item"> <a class="mobile-menu__link link" href="/">contacts</a> </li>
            </ul>

            <button type="button" class="">consultation by phone</button>
        </div>
    </div> -->


</div>

</header>