<section class="hero-section">
    <div class="container">
        <h1 class="hero-section__title">Complex preparation for English UPE</h1>

        <label class="hero-section__promotional-wrapper">
            <span>
                <p class="hero-section__promotional-description">It won’t be easy.</p>
            </span>
            <a class="hero-section__promotional-link" href="">But you’re guaranteed to get
                <span class="hero-section__promotional-link--part">+25 points</span></a>
        </label>

        <button class="accent-button" type="button">I want a free lesson</button>

        <div class="hero-section__image-wrapper">
            <picture>
                <source srcset="
                                              ./images/hero-bg-layer2.webp 1x,
                                              ./images/hero-bg-layer2@2x.webp 2x
                                            " media="(min-width: 1680px)" type="image/webp" />
                <source srcset="
                                              ./images/hero-bg-layer2-tab.webp 1x,
                                              ./images/hero-bg-layer2-tab@2x.webp 2x
                                            " media="(min-width: 768px)" type="image/webp" />
                <source srcset="
                                              ./images/hero-bg-layer2-mob.webp 1x,
                                              ./images/hero-bg-layer2-mob@2x.webp  2x
                                            " media="(max-width: 767px)" type="image/webp" />

                <img width="208" class="hero-section__image" src="./images/hero-bg-layer2-mob.webp" alt="hero" />
            </picture>
        </div>

    </div>
</section>