<section class="hero-section ">

    <div class="container">
        <div class="hero-secton__firs-box">
            <h1 class="hero-section__title">Complex preparation for English UPE</h1>

            <p class="hero-section__promotional-description">It won’t be easy.<br>
                <span class="hero-section__promotional-description--part-two">But you’re guaranteed to get</span>
                <span class="hero-section__promotional-description--part-three">+25 points</span>
            </p>

            <a class="accent-btn accent-btn--hero-retreat link" href="#">I want a free lesson</a>
        </div>
        <div class="hero-secton__second-box">
            <div class="hero-section__image"></div>
        </div>
    </div>

</section>