<section class="our-program">
    <div class="container__pr">
        <h2 class="__h2 section-title_tema-dark section-title">
            Our program
        </h2>
    </div>
    <div class="timeline-block">
        <div class="container__pr">
            <ul class="timeline">
                <li class="timeline__block">
                    <span class="semester__number">
                        1 semester
                    </span>
                    <ul class="semester__items">
                        <li class="class="semester__item">
                          <span class="semester__title">— Grammar</span>
                          <ul class="semester__description">
                              <li>Nouns & Articles</li>
                              <li>Adjectives & Adverb</li>
                          </ul>
                        </li>
                        <li class="class="semester__item">
                            <span class="semester__title">— Vocabulary</span>
                            <ul class="semester__description">
                                <li>Family & Relations</li>
                                <li>People & Society</li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="timeline__block">
                    <span class="semester__number">
                        2 semester
                    </span>
                    <ul class="semester__items">
                        <li class="class=" semester__item">
                            <span class="semester__title">— Grammar</span>
                            <ul class="semester__description">
                                <li>Pronouns</li>
                                <li>Active Voice</li>
                                <li>Passive Voice</li>
                            </ul>
                        </li>
                        <li class="class=" semester__item">
                            <span class="semester__title">— Vocabulary</span>
                            <ul class="semester__description">
                                <li>Home</li>
                                <li>School</li>
                                <li>Work</li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="timeline__block">
                    <span class="semester__number">
                        3 semester
                    </span>
                    <ul class="semester__items">
                        <li class="class=" semester__item">
                            <span class="semester__title">— Grammar</span>
                            <ul class="semester__description">
                                <li>Modal verbs</li>
                                <li>Infinitive</li>
                                <li>Gerund</li>
                                <li>Participle: 1, 2</li>
                            </ul>
                        </li>
                        <li class="class=" semester__item">
                            <span class="semester__title">— Vocabulary</span>
                            <ul class="semester__description">
                                <li>Travel & Tourism</li>
                                <li>Culture & Free Time</li>
                                <li>Sport</li>
                            </ul>
                        </li>
                        <li class="class=" semester__item">
                            <span class="semester__title">— Writing</span>
                            <ul class="semester__description">
                            <li>Informal Letter</li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="timeline__block">
                    <span class="semester__number">
                        4 semester
                    </span>
                    <ul class="semester__items">
                        <li class="class=" semester__item">
                            <span class="semester__title">— Grammar</span>
                            <ul class="semester__description">
                                <li>Clauses: Conditional and Wishes</li>
                                <li>Direct / Reported speech</li>
                                <li>Preposition</li>
                                <li>Conjunction</li>
                                <li>Numeral</li>
                            </ul>
                        </li>
                        <li class="class=" semester__item">
                            <span class="semester__title">— Vocabulary</span>
                            <ul class="semester__description">
                                <li>Healthy Living</li>
                                <li>Nature & Environment</li>
                                <li>Money</li>
                            </ul>
                        </li>
                        <li class="class=" semester__item">
                            <span class="semester__title">— Writing</span>
                            <ul class="semester__description">
                                <li>Formal Letter</li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="timeline__block">
                    <span class="semester__number">
                        5 semester
                    </span>
                    <ul class="semester__items">
                        <li class="class=" semester__item">
                            <span class="semester__title">—</span>
                            <ul class="semester__description">
                                <li>Revision</li>
                                <li>Tests</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
    <div class="program-image__block">
        <picture class="program-image">
                <source media="(max-width: 767px)" type="image/png" srcset="images/program-img-mob-new.png">
                <source media="(max-width: 1366px)" type="image/png" srcset="images/program-img-tab-new.png">
                <img src="images/program-img-new.png" alt="#">
        </picture>
    </div>

    <div class="container__pr">
        <div class="benefits-title">
            Why do people choose us
        </div>
        <div class="benefits-block">
            <ol class="benefits-list">
                <li>
                    Training in small groups
                </li>
                <li>
                    Rendered notes
                </li>
                <li>Each lesson has a goal and a specific result</li>
                <li>The real results of the teacher</li>
                <li>The course program meets the requirements of the MES of Ukraine</li>
                <li>Set of groups by level of knowledge</li>
            </ol>
        </div>
    </div>

</section>
