.logo__bottom-part {
    padding-top: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 6px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #FF6B09;
}

.logo__top-part_wrapper {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #111518;
}

.text-accent {
    color: black;
}

// Лого для бургер-меню

.mobile-menu-logo__top-part {
    position: absolute;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: white;
}

.mobile-menu-logo__bottom-part {
    position: absolute;
    top: 48px;
    left: 20px;
    padding-top: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 6px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #FF6B09;
}

.mobile-menu__text-accent {
    color: white;
}

@media screen and (min-width: 768px) {
    .logo__top-part_wrapper {
        font-size: 24px;
    }

    .mobile-menu-logo__top-part {
        font-size: 26px;
        top: 40px;
        left: 32px;
    }

    .mobile-menu-logo__bottom-part {
        top: 71px;
        left: 34px;
    }
}

@media screen and (min-width: 1680px) {
    .logo__top-part_wrapper {
        font-size: 26px;
    }
}