.benefits {
  padding-left: 15px;
  padding-right: 15px;
  background-image: linear-gradient(to bottom,
        #111518 60%, #FFFFFF 40%);
}
.container-benefits {
  position: relative;
  padding-top: 80px;
  // z-index: 2;
  // min-width: 280px;
  // margin-left: auto;
  // margin-right: auto;
  // padding: 20px 0 24px 20px;
  
  // box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  }
    @media screen and (max-width: 767px) {
    .benefits-title {
      max-width: 180px;
      text-align: left;
      margin-bottom: 32px;
      font-weight: 800;
      font-size: 20px;
      line-height: 136%;
      letter-spacing: 0.03em;
    }
  }

@media screen and (min-width: 768px) {
  .benefits-title {
    min-width: 180px;
    font-size: 26px;
    line-height: 130%;
    text-align: center;
  }
}

@media screen and (min-width: 1680px) {
  .benefits-title {
    display: none;
  }
}

  
    .benefits-wrap {
      width: 280px;
      margin-left: auto;
      margin-right: auto;
      padding: 50px 33px 24px 32px;
      background-color: #ffffff;
      box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    }


  @media screen and (min-width: 480px) {
    .benefits-description {
      font-weight: 700;
      font-size: 14px;
      line-height: 143%;
      align-items: center;
      letter-spacing: 0.08em;
    }
  }

  @media screen and (min-width: 1680px) {
    .benefits-description {
      font-size: 20px;
      line-height: 140%;
    }
  } 

  @media screen and (min-width: 768px) {
    .benefits-wrap {
      width: 728px;
      padding: 70px 90px 40px 90px;
    }
  }

  
  @media screen and (min-width: 1680px) {
    .benefits-wrap {
      position: relative;
      z-index: 3;
      width: 1680px; 
      padding: 80px 40px 60px 100px;
    }
  } 
  
  @media screen and (max-width: 1679px) {
    .visually-hidden.benefits-title {
      display:contents;
    }
  }
  
  @media screen and (max-width: 767px) {
    .list-benefits-item:not(:last-child) {
      margin-bottom: 46px;
    }
    .list-benefits-item::before {
      counter-increment: section;
      content:"— 0" counter(section) "";
      position: absolute;
      top: -30px;
      font-size: 14px;
      line-height: 1.64;
      letter-spacing: 0.08em;
      color: #FF6B09;
      margin-bottom: 8px;
    }
    .list-benefits-item {
      font-size: 14px;
      line-height: 1.43;
      letter-spacing: 0.08em;
      font-weight: 700;
    }
  }
  
  @media screen and (min-width: 768px) {
    .benefits .card-set {
      display:flex;
      flex-wrap: wrap;
      margin-left:-35px;
      margin-top:-35px;
    }
  
    .list-benefits-item {
      width: calc((100% - 70px) / 2);
      margin-left: 35px;
      margin-top: 35px;
      justify-content: flex-start;
      font-size: 14px;
      line-height: 1.42;
      font-weight: 700;
    }
    .list-benefits-item::before {
      counter-increment: section;
      content:"— 0" counter(section) "";
      position: absolute;
      top: -30px;
      font-size: 14px;
      line-height: 164.9%;
      letter-spacing: 0.08em;
      color: #FF6B09;
    }
  }
  
  @media screen and (min-width: 1680px) {
    .benefits .card-set {
      margin-left:-140px;
      margin-top:-80px;
    }
    .list-benefits-item {
      width: 336px;
      flex-basis: calc((100% - 420px) / 3);
      margin-left: 140px;
      margin-top: 80px;
      justify-content: flex-start;
    }
  }
  
  .card-set {
    counter-reset: section;
  }
  
  .list-benefits-item {
    position: relative;
    min-width: 224px;
    list-style-type: none;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    color: #111518;
  } 
  
  .list-benefits-item::before {
    counter-increment: section;
    content:"— 0" counter(section) "";
    position: absolute;
    top: -30px;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.08em;
    color: #FF6B09;
  }

  