.contacts {
    padding-top: 40px;
}
.contacts-title{
    font-family: var(--primary-font-family);
    color: #FFFFFF;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}
.contacts-description {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    margin-top: 24px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
}
.contacts-form {
    margin-top: 40px;
}
.contacts-input {
    width: 100%;
    height: 48px;
    padding-left: 28px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-family: var(--primary-font-family);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
               &:focus {
                outline: none;
                border-color: var(--accent-color);
            } 
        &:not(:first-child) {
            margin-top: 20px;
        }
        &::-webkit-input-placeholder { /* WebKit browsers */
            color:#FFFFFF;
        }
        &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:#FFFFFF;
        }
        &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:#FFFFFF;
        }
        &:-ms-input-placeholder { /* Internet Explorer 10+ */
            color:#FFFFFF;
        }
        &:not(:placeholder-shown):required:invalid {
            border-color: red;
          }   
         
}
.contacts-btn {
    border: transparent;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    cursor: pointer;
}
// 0px +767px
@media screen and (max-width: 767px) {
    .contacts {
        background-image: url(/images/contact-bg-img-mob.png);
        background-size: cover;
        height: 463px;
        background-color: var(--add-textcolor);
        background-repeat: no-repeat;
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(/images/contact-bg-img-mob@2x.png);
                }
    }
}
//768px +
@media screen and (min-width: 768px) {
    .contacts {
        background-image: url(/images/contact-bg-img-tab.png);
        height: 459px;
        background-color: var(--add-textcolor);
        background-repeat: no-repeat;
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(/images/contact-bg-img-tab@2x.png);
                }
    }
    .contacts-title{
        width: 688px;
        font-size: 26px;
    }
    .contacts-description {
        font-size: 14px;
        line-height: 1.21;
        margin-top: 40px;
        width: 452px;
    }
    .contacts-form {
        margin: 24px auto 0 auto;
        display: flex;
        flex-wrap: wrap;
        width: 336px;
    }
}
//768px +
@media screen and (min-width: 768px) and (max-width: 1679px) {
    .contacts-btn {
        margin-top: 32px;
    }
}
//1680px +
@media screen and (min-width: 1680px) {
    .contacts {
        background-image: url(/images/contact-bg-img.png);
        padding-top: 80px;
        height: 794px;
        background-color: var(--add-textcolor);
        background-repeat: no-repeat;
        @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(/images/contact-bg-img@2x.png);
                }
    }
    .contacts-title{
        width: 1090px;
        font-size: 46px;
    }
    .contacts-description {
        width: 1090px;
        font-size: 30px;
        line-height: 1.23;
    }
    .contacts-form {
        margin-top: 60px;
        width: 528px;
    }
    .contacts-input {
        font-size: 20px;
        height: 70px;
        &:not(:first-child) {
            margin-top: 32px;
        }
    }
    .btn-component {
        height: 70px;
    }
}