.guarantee {
  padding-top: 40px;
}

.guarantee-title {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;
}

.guarantee-container {
  background-color: #f1f1f1;
  margin-left: auto;
  margin-right: auto;
}

.guarantee-list__item {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-image: url('../images/icon-fire.svg'), linear-gradient(#f1f1ef, #f1f1ef);
  }

  &:not(:last-child) {
    border-left: 1px dashed #b9b9b9;
  }
}

.guarantee-list__text {
  font-weight: 500;
  color: #3d3d3d;
}

@media screen and (max-width: 1679px) {
  .guarantee-list__item {
    &::before {
      content: '';
      height: 30px;
      width: 14px;
      top: -5px;
      left: -7px;
      background-size: 14px 30px;
    }
  }

  .guarantee-list__text {
    font-size: 12px;
    line-height: 1.7;
  }
}

@media screen and (max-width: 767px) {
  .guarantee-container {
    max-width: 320px;
    padding: 40px 27px;
  }

  .guarantee-list__item {
    padding-left: 28px;

    &:not(:last-child) {
      padding-bottom: 24px;
    }
  }
}
@media screen and (min-width: 768px) {
  .guarantee-container {
    width: 704px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 94px;
    padding-right: 58px;
  }

  .guarantee-list__item {
    padding-left: 32px;

    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }
}
@media screen and (min-width: 1680px) {
  .guarantee-list__text {
    font-size: 20px;
    line-height: 1.4;
  }

  .guarantee-container {
    width: 1648px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 291px;
    padding-right: 278px;
  }

  .guarantee-list__item {
    padding-left: 41px;

    &::before {
      content: '';
      height: 40px;
      width: 22px;
      top: -6px;
      left: -11px;
      background-size: 22px 41px;
    }
  }
}
