.problems {max-width: 100%;
background-image: linear-gradient(to bottom, 
 #111518 545px, #FFFFFF 157px
 )
    

}
.problems-title {font-family:'Monserrat';
    
    color: #FFFFFF;}

    @media screen and (min-width: 480px)
    {.problems-title 
        
        {padding: 20px 24px;
            font-size: 24px;
            
           }}
    
           @media screen and (min-width: 768px)
   {.problems-title {
   
   padding-left:32px;
    padding-top: 40px;
    padding-right: 168px;

}}
.container-problems {padding-left: 15px;
padding-right: 15px;}
@media screen and (min-width: 480px)
{.container-problems {
        width: 480px;
        margin-left: 25%;
        margin-right: auto;
        
    }} 




@media screen and (min-width: 768px) 
{.container-problems 
         {
            width: 768px;   
        }}
        @media screen and (min-width: 1680px)
{.container-problems {

    width:1680px;  
}}
@media screen and (min-width: 1680px) {
   .problems-title 
    {padding-left: 16px;
        padding-right:  198px;
        font-size: 46px;
        font-weight: 800;
        line-height: 1.30;
        letter-spacing: 0.03em}
}
.accent {color: var(--accent-color);
    }
    .container-wrap {padding-left: 32px ;
        padding-right: 32px;
    height: 354px;}
        @media screen and (min-width: 480px){
        .container-wrap {
            width:480px;
            margin-left:auto ;
            margin-right: auto;
                position: relative;
                bottom:-32px;
                box-shadow: -5px 8px 26px
                rgba(0, 0, 0, 0.04);
                z-index: 2;
             }}
                @media screen and (min-width: 768px)
    {.container-wrap 
     
     
         {padding-top: 40px;
            padding-left: 92px;
            padding-right:112px;
        padding-bottom: 40px;
        position: relative;
       bottom: -32px;
        box-shadow: -5px 8px 26px
        rgba(0, 0, 0, 0.04); 
    }
    }
    @media screen and (min-width: 1680px)
        {.container-wrap 
       
        {padding-top: 60px;
        padding-left:140px; 
    padding-right:32px ;
    padding-bottom:-60px;
    position: absolute;
    bottom: 0;
    left: 0;
    height:354px;
    
    box-shadow: -5px 8px 26px
    rgba(0, 0, 0, 0.04); }
        }
       
  

    @media screen and (min-width: 480px)
   
        {.list-problems-item {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 60px;
        
            counter-reset: section;
        } }
        @media screen and (min-width: 768px) {.list-problems-item {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 32px;
        }}
    
        @media screen and (min-width: 1680px) {.list-problems-item {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 81px;
        }}


       

    ol {
        counter-reset: section;
        }
        .list-problems-item {
        list-style-type: none;
        color: #111518;
        letter-spacing: 0.08em;
        font-weight: 700;
        } 
        li::before {

            counter-increment: section;
            content:"--" counter(section) "";
            
            position: absolute;
        
    
            color: #FF6B09;
            margin-bottom: 8px;
            
          
           
            }
            @media screen and (min-width: 480px)  
        {li::before {
            counter-increment: section;
            content:"-" counter(section) "";
            position: absolute;
            top: -30px;}
        }
        @media screen and (min-width: 768px)
        {li::before 
            
                
            
        {
            font-size: 14px;
            line-height: 20px;
            top: -28px;}
        }
        @media screen and (min-width: 1680px)
        {li::before { 
        font-size: 20px;
                line-height: 24px;
                top: -41px;}}