.problems {


background-image: linear-gradient(to bottom, 
 #111518 560px, #FFFFFF  132px
 )
    

}
.problems-title {font-family:'Monserrat';
    font-size: 46px;
    font-weight: 800;
    line-height: 1.30;
    letter-spacing: 0.03em;
    color: #FFFFFF;}

    .problems-title { 
        @media screen and (min-width: 480px)
        {padding: 20px 24px;
            font-size: 24px;
            justify-content: center;
           }}
    
  
   .problems-title {
   @media screen and (min-width: 768px)
   {padding-left:32px;
    padding-top: 40px;
    padding-right: 168px;

}}

   .problems-title {
    @media screen and (min-width: 1680px) {padding-left: 16px;
        padding-right:  198px;}
}
.accent {color: var(--accent-color);
    }
    .container-wrap {
        @media screen and (min-width: 480px)
        {padding: 24px 20px 23px 32px;
           
            position: relative;
            z-index: 2;
            box-shadow: -5px 8px 26px
            rgba(0, 0, 0, 0.04); }}
.container-wrap {
 @media screen and (min-width: 768px)
 
     {padding-top: 40px;
        padding-left: 92px;
        padding-right:112px;
    padding-bottom: 40px;
    position: relative;
    z-index: 2;
    box-shadow: -5px 8px 26px
    rgba(0, 0, 0, 0.04); }
     }
    
    .container-wrap {
    @media screen and (min-width: 1680px)
    {padding-top: 60px;
    padding-left:140px; 
padding-right:32px ;
padding-bottom:60px;
position: relative;
z-index: 2;
box-shadow: -5px 8px 26px
rgba(0, 0, 0, 0.04); }
    }
   

.container-problems {
@media screen and (min-width: 480px) 
     {
        width: 480px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }}
.container-problems {width:100%;
height: 692px;


}
.container-problems {
    @media screen and (min-width: 768px) 
         {
            width: 768px;
            max-width: 100%;
            padding-left: 32px;
            padding-right: 168px;
        }}
.container-problems {
@media screen and (min-width: 1680px)
    {width: 1680px;
        max-width: 100px;
    padding-left:16px; 
padding-right:168px ;
padding-bottom: 20px;
}}
.card-set {
    @media screen and (min-width: 768px) {display:flex;
    flex-wrap: wrap;
    margin-left:-162px;
    margin-top:-81px;  
    } }
.card-set {
    @media screen and (min-width: 1680px) {display:flex;
    flex-wrap: wrap;
    margin-left:0;
    margin-top:0;  
    } }
    .list-problems-item {
        @media screen and (min-width: 768px)
       {flex-basis: calc(100%  / 2);
       position: relative;
       justify-content: space-between;
       font-size: 14px;
       line-height: 1.43;
    }}  
.list-problems-item {
     @media screen and (min-width: 1680px)
    {flex-basis: calc(100%  / 3);
    position: relative;
padding-left:140px ;
padding-right: 192px;
max-width: 100%;
font-size: 20px ;
line-height: 1.2;
justify-content: space-between;
}}

.list-problems-item{
@media screen and (min-width: 480px)
{margin-bottom: 45px;
font-size: 14px;
line-height: 1.71;
}}
ol {
    counter-reset: section;
    }
    .list-problems-item {
    list-style-type: none;
    margin-bottom: 15px;
    color: #111518;
    padding-bottom: 40px;
    letter-spacing: 0.08em;
    font-weight: 700;
    }
    li::before {

    counter-increment: section;
    content:"--" counter(section) "";
    
    position: absolute;

   
    font-size: 20px;
    
    
    color: #FF6B09;
    margin-bottom: 8px;
    
  
   
    }
   
li::before {
    @media screen and (min-width: 480px)
        
    
{display: flex;
    counter-increment: section;
    content:"-" counter(section) "";
    position: absolute;
    top: -25px;}
}
li::before {
    @media screen and (min-width: 768px)
        
    
{
    counter-increment: section;
    content:"-" counter(section) "";
    position: absolute;
    top: -28px;}
}