.container__pr {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    max-width: 100%;
}

@media screen and (min-width: 480px) {
    .container__pr {
        width: 480px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px) {
    .container__pr {
        width: 768px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (min-width: 1680px) {
    .container__pr {
        width: 1680px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.our-program {
    background: #111518;
    padding-top: 40px;
    margin-bottom: -200px;
    overflow-x: hidden;

    @media screen and (min-width: 768px) {
        padding-top: 60px;
    }

    @media screen and (min-width: 1680px) {
        padding-top: 80px;
    }
}

h2,
._h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-bottom: 40px;

    @media screen and (min-width: 768px) {
        text-align: left;
        font-weight: 800;
        font-size: 26px;
        line-height: 130%;
    }

    @media screen and (min-width: 1680px) {
        font-weight: 800;
        font-size: 46px;
        text-align: left;
        padding-bottom: 84px;
    }
}

.timeline-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 480px) {
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 480px) {}

    @media screen and (min-width: 1680px) {
        border-top: 1px solid #FFFFFF;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.timeline {
    position: relative;
    width: calc(100% - 90px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;

    @media screen and (min-width: 480px) {
        width: calc(480px - 30px);
    }

    @media screen and (min-width: 768px) {
        max-width: calc(768px - 30px);
        margin-left: 88px;
        flex-direction: column;

        &::before {
            left: -112px;
        }
    }

    @media screen and (min-width: 1680px) {
        padding-top: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: calc(1680px - 30px);
        margin-left: auto;
        margin-right: auto;
        padding-left: 140px;
        padding-right: 140px;

        &::before {
            content: unset;
        }
    }

    li {
        list-style: none;
    }
}

.timeline__block {
    padding-bottom: 44px;
    border-left: 1px solid #FFFFFF;
    padding-left: 27px;
    margin-right: -20px;

    &::before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        background: #FF6B09;
        border-radius: 50%;
        left: -5px;
        margin-top: -1px;
        z-index: 2;
    }

    &:last-child {
        border-left: 1px solid transparent;
    }

    @media screen and (min-width: 768px) {
        padding-left: 112px;
        margin-right: -176px;
        padding-bottom: 8px;

        &::before {
            content: '';
            position: absolute;
            width: 12px;
            height: 12px;
            background: #FF6B09;
            border-radius: 50%;
            left: -6px;
        }
    }

    @media screen and (min-width: 1680px) {
        flex: 0 0 calc(100% / 5 - 160px / 5);
        position: relative;
        border: transparent;

        padding-left: unset;
        margin-right: unset;

        &::before {
            margin-top: 0;
            left: 0;
            content: '';
            position: absolute;
            width: 16px;
            height: 16px;
            background: #FF6B09;
            border-radius: 50%;
            top: -62px;
        }
    }
}

.semester__number {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.08em;
    color: #FFFFFF;
    text-transform: uppercase;
    max-width: 100%;
    position: relative;
    top: -6px;

    @media screen and (min-width: 768px) {
        font-size: 14px;
    }

    @media screen and (min-width: 1680px) {
        font-size: 30px;
        line-height: 28px;
        text-transform: none;

        .sem {
            font-size: 20px;
        }
    }
}

.semester__items {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    @media screen and (min-width: 1680px) {
        flex-direction: column;
    }
}

.semester__item {
    margin-bottom: 4px;

    @media screen and (min-width: 768px) {
        flex: 0 0 calc(100% / 3 - 80px / 3);
        margin-bottom: 40px;
        margin-right: 40px;
    }

    @media screen and (min-width: 1680px) {
        margin-top: 12px;
        margin-bottom: 6px;
        margin-right: 0;
    }
}

.semester__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 164.9%;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.08em;
    color: #FF6B09;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 7px;

    @media screen and (min-width: 768px) {
        font-size: 12px;
        padding-bottom: 0;

    }

    @media screen and (min-width: 1680px) {
        font-size: 20px;
    }
}

.semester__description {
    margin-top: 4px;

    @media screen and (min-width: 768px) {
        margin-top: 8px;
    }

    li {
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        letter-spacing: 0.08em;
        color: #B9B9B9;
        opacity: 0.5;
        font-size: 12px;
        line-height: 20px;

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1680px) {
            font-size: 18px;
            line-height: 28px;
        }
    }
}

.program-image__block {
    position: relative;
    z-index: 0;

    .program-image {
        opacity: 0.5;
        position: relative;
        top: -80px;
        display: flex;
        justify-content: flex-start;
        transform: translateX(calc((50% + 15px)));

        @media screen and (min-width: 768px) {
            top: -214px;
            justify-content: flex-start;
            transform: translateX(calc((50% + 15px)));
        }

        @media screen and (min-width: 1680px) {
            justify-content: flex-start;
            top: -156px;
            transform: unset;
        }
    }
}
.benefits-section {
    margin-top: -40px;
    position: relative;
    z-index: 1;

    &::after {
        position: absolute;
        content: '';
        background: #FFFFFF;
        width: 100%;
        height: 37%;
        bottom: 0;
    }

    @media screen and (min-width: 768px) {
        margin-top: -134px;

        &::after {
            height: 59%;
        }
    }
}

.benefits-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 136%;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding-bottom: 25px;
    max-width: 180px;

    @media screen and (min-width: 480px) {
        text-align: center;
        max-width: 100%;
        font-size: 26px;
        line-height: 130%;
        padding-bottom: 40px;
    }
}

.benefits-block {
    background: #FFFFFF;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    padding: 50px 20px 20px;
    position: relative;
    z-index: 2;

    @media screen and (min-width: 768px) {
        padding: 68px 32px 40px 118px;
    }

    @media screen and (min-width: 1680px) {
        padding: 101px 32px 60px 140px;
        margin-top: -225px;
    }
}

.benefits-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 72px;

    counter-reset: section;

    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 236px);
        grid-gap: 75px 32px;
    }

    @media screen and (min-width: 1680px) {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 89px 202px;
    }

    li {
        list-style: none;

        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.08em;
        color: #111518;

        position: relative;

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1680px) {
            font-size: 20px;
            line-height: 24px;
        }

        &::before {
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 164.9%;
            letter-spacing: 0.08em;

            color: #FF6B09;
            position: absolute;
            counter-increment: section;
            content: "— 0" counter(section) " ";
            top: -30px;
            color: #FF6B09;

            @media screen and (min-width: 768px) {
                font-size: 14px;
                line-height: 20px;
                top: -28px;
            }

            @media screen and (min-width: 1680px) {
                font-size: 20px;
                line-height: 24px;
                top: -41px;
            }
        }
    }
}