.reviews {
    padding-top: 40px;
    padding-bottom: 40px;
    @media screen and (min-width:1680px) {
     padding-top: 80px;
    padding-bottom: 80px;
    }
}
.reviews .section-title {
    text-align: center;
     @media screen and (max-width:767px) {
         margin-bottom: 12px; 
    } 
}
.article {
    @media screen and (max-width:767px) {
        padding: 12px 20px 15px 20px;   
    } 
    @media screen and (min-width:768px) {
        display: flex; 
        padding-top: 40px;
        padding-bottom: 56px;
        width: 704px;
    }
    @media screen and (min-width:1680px) {
        padding-top: 60px;
        padding-left: 80px;
        padding-bottom: 55px;
    }
}
.slider__icon {
    display: block;
    margin: 0 auto;
    fill: #436EAB;
    transition: fill 250ms var(--timing-fun);
  &:hover,
  &:focus {
    fill: #ffffff;
  }
}
.thumb-review {
    text-align: center;
    @media screen and (min-width:768px) {
        width: 412px; 
        text-align: left;
    }
    @media screen and (min-width:1680px) {
        width: 706px; 
    }
}
.thumb-photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (min-width:768px) {
        justify-content: flex-start;
        margin-right: 44px;   
    }
    @media screen and (min-width:1680px) {
        margin-right: 40px;   
    }
}
.thumb-photo img {
    margin-bottom: 14px;
    width: 90px;
    @media screen and (min-width:768px) {
        margin-bottom: 10px;   
        width: 150px;
    }
    @media screen and (min-width:1680px) {
        margin-bottom: -2px;   
    }
}
.thumb-photo .link {
     display: flex;
    justify-content: center;
     align-items: center;
     margin-bottom: 24px;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     transition: background-color 250ms var(--timing-fun);
    &:hover,
     &:focus {
     background-color: #436EAB;
    }
     @media screen and (min-width:768px) {
        margin-bottom: 0;
    }
}
.review__student {
    margin-bottom: 16px;
    font-weight: 800;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.08em;
    color: var(--accent-color);
    @media screen and (min-width:768px) {
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 1.2;
    } 
    @media screen and (min-width:1680px) {
        margin-bottom: 8px;
        font-size: 30px;
        line-height: 1.23;   
    }
}
.review__student_education {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    color: var(--primary-text-color);
    @media screen and (min-width:768px)  {
        margin-bottom: 20px;
        font-size: 12px;
        line-height: 1.25;
    }
    @media screen and (min-width:1680px) {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1.21;  
    }  
}
.review__text  {  
    display: inline-block;
    height: 200px;
    overflow: hidden; 
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: #3D3D3D; 
    @media screen and (min-width:768px) {
        height: 122px;
        font-size: 12px;
        line-height: 20px;
    }
    @media screen and (min-width:1680px) {
        height: 140px;
        font-size: 18px;
        line-height: 1.56;   
    }
}
.review__btn:active .review__text  {
    overflow: visible;
    height: auto;
}
.review__btn {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    transition: color 250ms var(--timing-fun);
    @media screen and (min-width:768px) {
        font-size: 12px;
        line-height: 20px;
    }
    @media screen and (min-width:1680px) {
        font-size: 18px;
        line-height: 1.56;   
    }
}
.review__btn:hover, .review__btn:focus  {
    color: var(--add-textcolor);
}
@media screen and (min-width:768px) {
    .slider-pagination__item:not(:last-child) {
        margin-right: 20px;
    }   
}
.slick-track{
    display: flex;
}
.slider {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
     margin-bottom: var(--margin-bottom);
    position: relative;
    @media screen and (min-width:768px) {
        width: 704px;
        box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    }
    @media screen and (min-width:768px) and (max-width:1679px) {
        cursor: pointer;
     transition: box-shadow 250ms var(--timing-fun); 
        &:hover, &:focus {
          box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.09);   
        }   
    }
    @media screen and (min-width:1680px) {
        width: 1203px;
        box-shadow: none; 
    }
}
.slider-pagination  {
    width: 280px;
    margin: 0 auto;
    position: relative;
    @media screen and (min-width:768px) {
        width: 582px;
    } 
    @media screen and (min-width:1680px) {
        width: 630px;
    }
}
.slider-pagination__item {
    padding: 0 6px;
}
.slick-list {
    overflow: hidden;
}
.slider .slick-list {
    width: 280px;
    margin: 0 auto;
    cursor: pointer;
         transition: box-shadow 250ms var(--timing-fun); 
        &:hover, &:focus {
          box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.09);   
        }
    @media screen and (min-width:768px) { 
        position: relative;
        width: 596px;
        margin-bottom: 35px;
    }   
    @media screen and (min-width:1680px) { 
        width: 1088px;
         margin-bottom: 40px;
        box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04); 
        cursor: pointer;
         transition: box-shadow 250ms var(--timing-fun); 
        &:hover, &:focus {
          box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.09);   
        }
    }   
}
.slider-pagination .slick-list {
    width: 192px;
    height: 60px;
    margin: 0 auto;
    @media screen and (min-width:768px) { 
        width: 582px;
    } 
    @media screen and (min-width:768px) { 
       
    } 
}
//  .slick-active.slick-current .slider-pagination__item {
// border: 2px solid var(--accent-color);
// }
.slider .slick-arrow, .slider-pagination .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    width: 27px;
    height: 16px;
    border: none;
    cursor: pointer;
}
.slider .slick-arrow.slick-prev, .slider-pagination .slick-arrow.slick-prev {
    left: 0;
    background: url('..//images/arrow1.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-next, .slider-pagination .slick-arrow.slick-next {
    right: 0;
    background: url('..//images/arrow2.svg') 0 0 / 100% no-repeat;
}
.slider .slick-arrow.slick-disabled, .slider-pagination .slick-arrow.slick-disabled{
    opacity: .2;
}
@media screen and (max-width:767px) {
  .slider .slick-arrow.slick-prev, .slider .slick-arrow.slick-next {
opacity: 0;
visibility: hidden;
pointer-events: none;
}  
}
@media screen and (min-width:768px) {
  .slider-pagination .slick-arrow.slick-prev, .slider-pagination .slick-arrow.slick-next {
opacity: 0;
visibility: hidden;
pointer-events: none;
}  
}
// .slider .slick-dots, .slider-pagination .slick-dots{
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
// .slider .slick-dots li, .slider-pagination .slick-dots li{
//     list-style: none;
//     margin: 0 6px;
// }